
<h2> Made With </h2>	
<div class="collage">
  <div><img src="../images/logos/nodejs.png" alt="logo image"></div>
  <div><img src="../images/logos/socketio.png" alt="logo image"></div>
  <div><img src="../images/logos/expressjs.png" alt="logo image"></div>
</div>
<div class="collage">
  <div><img src="../images/logos/bootstrap.jpg" alt="logo image"></div>
  <div><img src="../images/logos/mongodb.png" alt="logo image"></div>
  <div><img src="../images/logos/handlebars.png" alt="logo image"></div>
</div>


  