
<form method="POST" action="" role="form">
	<h2 class="form-collection-heading">Choose Your Warrior</h2>
	<div class="row">
	  <div class="col-sm-4 col-md-4 warrior-div">
	  	<div><img src="/images/icons128/warrior0.png" alt="warrior icon"></div>
		<div><input type="radio" name="warriors" value="warrior0" data-name="Dagger Damsel" checked></div>
	  </div>
	  <div class="col-sm-4 col-md-4 warrior-div">
	  	<div><img src="/images/icons128/warrior1.png" alt="warrior icon"></div>
		<div><input type="radio" name="warriors" value="warrior1" data-name="Golden Swordsman"></div>
	  </div>
	  <div class="col-sm-4  col-md-4 warrior-div">
	  	<div><img src="/images/icons128/warrior2.png" alt="warrior icon"></div>
		<div><input type="radio" name="warriors" value="warrior2" data-name="Brutal Bonesman"></div>
	  </div>
	  <div class="col-sm-4 col-md-4 warrior-div">
	  	<div><img src="/images/icons128/warrior3.png" alt="warrior icon"></div>
		<div><input type="radio" name="warriors" value="warrior3" data-name="The White Wizard"></div>
	  </div>
	  <div class="col-sm-4 col-md-4 warrior-div">
	  	<div><img src="/images/icons128/warrior4.png" alt="warrior icon"></div>
		<div><input type="radio" name="warriors" value="warrior4" data-name="Hammer Dwarf"></div>
	  </div>
	  <div class="col-sm-4  col-md-4 warrior-div">
		<div><img src="/images/icons128/warrior5.png" alt="warrior icon"></div>
		<div><input type="radio" name="warriors" value="warrior5" data-name="Merciless Troll"></div>
	  </div>
	</div>

	<div id="warriorBtnHolder">
	<button class="btn btn-lg warrior-submit-btn" type="submit">Proceed</button>
	</div>
</form> 



