

<form class="form-collection" action="" method="POST" role="form">
	<h2 class="form-collection-heading">Your Location</h2>
	<img id="world-map" src="/images/world-map-icon/world-map-icon.png" alt="map icon">
	<div>
		<label for="inputContinent" class="sr-only">Continent</label>
		<input type="text" id="continent" name="continent" class="form-control" placeholder="Continent" required>
	</div>
	<div>
		<label for="inputCountry" class="sr-only">Country</label>
		<input type="text" id="country" name="country" class="form-control" placeholder="Country" required>
	</div>
	<div>
		<label for="inputCity" class="sr-only">City</label>
		<input type="text" id="city" name="city" class="form-control" placeholder="City" required>
	</div>
	<button class="btn btn-lg btn-block form-submit-btn" type="submit">Submit</button>
</form>	
