<div id="homepageContainer">

<h2>T<sup>3</sup>: Fantasy Tic Tac Toe</h2>
<div class="row">
  <div class="col-sm-12">
  <img src="../images/homepageWizard.png" class="img-responsive" alt="Responsive image">
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
  <img src="../images/sword.png" class="img-responsive" alt="Responsive image">
  </div>
  <div class="col-sm-4">
  	<img src="../images/board.png" class="img-responsive" alt="Responsive image">
  </div><div class="col-sm-4">
  	<img src="../images/axe.png" class="img-responsive" alt="Responsive image">
  </div>
</div>